body{

margin:0;
font-family:-apple-system,BlinkMacSystemFont,sans-serif;
background:#000;
color:white;

}



header{

display:flex;
justify-content:space-between;
align-items:center;
padding:15px;

}



#profilePic{

width:40px;
height:40px;
border-radius:50%;
object-fit:cover;

}



.calendarHeader{

display:flex;
justify-content:center;
align-items:center;
gap:20px;

}



.arrow{

background:none;
border:none;
color:#aaa;
font-size:18px;

}



#calendar{

display:grid;
grid-template-columns:repeat(7,1fr);
gap:6px;
padding:10px;

}



.day{

background:#111;
border-radius:10px;
padding:6px;
min-height:75px;
font-size:12px;

}



.day span{

font-weight:bold;

}



.event{

background:#0a84ff;
border-radius:6px;
padding:3px 5px;
font-size:10px;
margin-top:4px;
cursor:pointer;

}



#addButton{

position:fixed;
bottom:25px;
right:20px;
width:55px;
height:55px;
border-radius:50%;
border:none;
background:#0a84ff;
color:white;
font-size:30px;
box-shadow:0 5px 15px rgba(0,0,0,0.4);

}



#eventModal{

position:fixed;
bottom:0;
left:0;
right:0;
background:#111;
padding:25px;
display:none;
flex-direction:column;
gap:10px;
border-top-left-radius:20px;
border-top-right-radius:20px;

}



#profileModal{

position:fixed;
top:0;
left:0;
right:0;
bottom:0;
background:#000;
display:none;
flex-direction:column;
padding:30px;
gap:10px;

}



input,select{

background:#1c1c1e;
border:none;
border-radius:10px;
padding:12px;
color:white;
font-size:15px;

}



button{

background:#0a84ff;
border:none;
border-radius:10px;
padding:12px;
color:white;

}



#setup{

display:flex;
flex-direction:column;
gap:12px;
padding:30px;

}
